* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    background-color: #f1e6b3;
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 20px;
}

#section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.container {
    border: 1.5px solid black;
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
    font-size: 1em;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

#submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #45a049;
}

.theme-btn {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-right: 10px;
}

.theme-btn:hover {
    background-color: #e6e6e6;
}

.error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

.form-styles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Modo de alto contraste */
body.contrast-mode {
    background-color: black;
    color: rgb(0, 0, 0);
}

.contrast-mode h1 {
    color: rgb(0, 0, 0);
}

.contrast-mode input, .contrast-mode select {
    background-color: #acabab;
    color: rgb(3, 19, 86);
    border: 1px solid black;
}

.contrast-mode #submit-btn {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 1px solid black;
}

.contrast-mode #submit-btn:hover {
    background-color: #acabab;
}

.contrast-mode .theme-btn {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 1px solid black;
}